@model SWP391.OnlineShop.ServiceModel.ViewModels.Carts.OrderViewModels
@{
    var sliders = Model.Sliders.ToList();
    var address = Model.CustomerAddress.Split(',');
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmation</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Confirmation</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        <div class="row order_d_inner">
            <div class="col-lg-6">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li><a href="#"><span>Order number</span> : @Model.Id</a></li>
                        <li><a href="#"><span>Date</span> : @Model.ModifiedDateTime.ToString("dd/MM/yyyy") </a></li>
                        <li><a href="#"><span>Total</span> : @Model.TotalCost</a></li>
                        <li><a href="#"><span>Payment method</span> : Paypal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details_item">
                    <h4>Billing Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>Ward</span> : @address[0].Trim()</a></li>
                        <li><a href="#"><span>District</span> : @address[1].Trim()</a></li>
                        <li><a href="#"><span>Province</span> : @address[2].Trim()</a></li>
                        <li><a href="#"><span>Phone Number </span> : @Model.CustomerPhoneNumber</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td>
                                   <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Product.Id"> <p>@item.Product.ProductName</p></a>
                                </td>
                                <td>
                                    <h5>x @item.Quantity</h5>
                                </td>
                                <td>
                                    <p>$ @(item.Quantity * item.Product.Price)</p>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>$ @Model.TotalCost</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>
                            Lastest Products Of All Category
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                @for (int i = 0; i < sliders.Count() / 2; i++)
                {
                    <!-- single product -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <a asp-action="Details" asp-controller="Product" asp-route-id="@sliders[i].Id"><img class="img-fluid" src="@sliders[i].Thumbnail" alt="@sliders[i].ProductName"></a>
                            <div class="product-details">
                                <h6>
                                    <a asp-action="Details" asp-controller="Product" asp-route-id="@sliders[i].Id">@sliders[i].ProductName</a>
                                </h6>
                                <div class="price">
                                    <h6>$ @sliders[i].Price</h6>
                                    @if (sliders[i].SalePrice > 0)
                                    {
                                        <h6 class="l-through">$ @sliders[i].SalePrice</h6>
                                    }
                                </div>
                                <div class="prd-bottom">
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Lastest Products</h1>
                        <p>
                            Lastest Products Of All Category
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @for (int i = sliders.Count() / 2; i < sliders.Count(); i++)
                {
                    <!-- single product -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <a asp-action="Details" asp-controller="Product" asp-route-id="@sliders[i].Id"><img class="img-fluid" src="@sliders[i].Thumbnail" alt="@sliders[i].ProductName"></a>
                            <div class="product-details">
                                <h6>
                                    <a asp-action="Details" asp-controller="Product" asp-route-id="@sliders[i].Id">@sliders[i].ProductName</a>
                                </h6>
                                <div class="price">
                                    <h6>$ @sliders[i].Price</h6>
                                    @if (sliders[i].SalePrice > 0)
                                    {
                                        <h6 class="l-through">$ @sliders[i].SalePrice</h6>
                                    }
                                </div>
                                <div class="prd-bottom">
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
