@model List<SWP391.OnlineShop.ServiceModel.ViewModels.Products.ProductViewModel>
@{
    Layout = "_Layout";
}

<div class="m-headers" style="margin-top: 10% !important;">
    <h4 class="fw-bold">Product Management</h4>
    <button asp-controller="Marketing" asp-action="AddProduct" type="button" class="btn btn-primary" id="btn-user-add">
        <span>Add</span>
        <i class="fa-regular fa-plus"></i>
    </button>
</div>
@*<div class="m-searchs">
    <div>
        <form id="formSearchUser" asp-controller="Home" asp-action="ShowUsers">
            <div class="mb-3">
                <label for="search-user" class="form-label">Search</label>
                <input type="text" placeholder="Enter username" class="form-control" id="search-user" title="Search User" name="SearchString" value="@ViewData["SearchValue"]">
            </div>
            <div class="mb-3 form-status">
                <label for="search-status" class="form-label">Status</label>
                <select class="form-select" id="search-status" name="status">
                    <!option value="All" @(status == "All" ? "selected" : "")>All</!option>
                    <!option value="Active" @(status == "Active" ? "selected" : "")>Active</!option>
                    <!option value="Inactive" @(status == "Inactive" ? "selected" : "")>InActive</!option>
                </select>
            </div>
            <div class="form-search-btn">
                <button class="btn" type="submit" title="search-submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
</div>*@
<div class="card shadow mb-4 mt-3">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Products DataTables</h6>
    </div>
    <div class="card-body container-fluid">
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sale Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productViewModel in Model)
                    {
                        <tr>
                            @* <td>
                        <a asp-action="UserRoleDetails" asp-controller="Admin" asp-route-email="@userViewModel.Email">@userViewModel.UserName</a>
                        </td> *@
                            <td>@productViewModel.ProductName</td>
                            <td>@productViewModel.Thumbnail</td>
                            <td>@productViewModel.Description</td>
                            <td>@productViewModel.Amount</td>
                            <td>@productViewModel.Price</td>
                            <td>@productViewModel.SalePrice</td>
                            @* @if (productViewModel.Status == Status.Active)
                        {
                        <td class="text-success">Active</td>
                        }
                        else
                        {
                        <td class="text-danger">InActive</td>
                        } *@
                            <td>
                                <div class="table-action">
                                    @*Prevent modify admin account*@
                                    @* @if (userViewModel.Roles != null && !userViewModel.Roles.Contains(RoleConstraints.Admin))
                                {
                                <a href="#" data-bs-toggle="modal" data-bs-target="#formEditUserPopup" onclick="editUser('@userViewModel.UserName', '@userViewModel.Email', '@Enum.GetName(typeof(Status), userViewModel.Status)')">
                                <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#formDeletePopup" onclick="deleteUser('@userViewModel.Email')">
                                <i class="fa-regular fa-trash-can text-danger"></i>
                                </a>
                                } *@
                                    <a asp-controller="Marketing" asp-action="EditProduct" asp-route-id="@productViewModel.Id">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a asp-controller="Marketing" asp-action="DeleteProduct" asp-route-id="@productViewModel.Id">
                                        <i class="fa-regular fa-trash-can text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>