@using SWP391.OnlineShop.ServiceModel.ViewModels.Products
@using SWP391.OnlineShop.ServiceModel.ViewModels.Tags;
@model List<PostViewModel>
@{
    var countCategory = 0;
    var existedCategory = new List<int>();
    var existedCategoryRightSide = new List<int>();
    var allTags = ViewData["AllTags"] as List<TagViewModel>;
    var pagesNumber = (int)ViewBag.Pages;
    var currentNumber = (int)ViewBag.CurrentPage;
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Page</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.Category != null)
                {
                    if ((!existedCategory.Contains(item.Category.Id)) && countCategory < 3)
                    {
                        <div class="col-lg-4">
                            <div class="categories_post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="blog-details.html">
                                            <h5>@item.Category.CategoryType</h5>
                                        </a>
                                        <div class="border_line"></div>
                                        <p>@item.Category.CategoryName</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        existedCategory.Add(item.Category.Id);
                        countCategory++;
                    }
                }
            }
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->
<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    @foreach (var post in Model)
                    {
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        @if (post.Tags != null)
                                        {
                                            @foreach (var tag in post.Tags)
                                            {
                                                <a href="#">@tag.TagName</a>
                                            }
                                        }
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">@post.Author<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">@post.CreatedDateTime<i class="lnr lnr-calendar-full"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="@post.Thumbnail" width="516" height="260" alt="">
                                    <div class="blog_details">
                                        <a asp-action="Details" asp-controller="Post" asp-route-id="@post.Id">
                                            <h2>@post.Title</h2>
                                        </a>
                                        <p>
                                            @post.Brief
                                        </p>
                                        <a asp-action="Details" asp-controller="Post" asp-route-id="@post.Id" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            @if(currentNumber > 1)
                            {
                                <li class="page-item">
                                    <a asp-controller="Post" asp-action="Index" asp-route-page="@(currentNumber-1)" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @for (var i = 1; i <= pagesNumber; i++)
                            {
                                if (i == currentNumber)
                                {
                                    <li class="page-item active"> <a asp-controller="Post" asp-action="Index" asp-route-page="@i" class="page-link">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"> <a asp-controller="Post" asp-action="Index" asp-route-page="@i" class="page-link">@i</a></li>
                                }
                            }
                            @if(currentNumber < pagesNumber)
                            {
                                <li class="page-item">
                                    <a asp-controller="Post" asp-action="Index" asp-route-page="@(currentNumber+1)" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form>
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                                <span class="input-group-btn">
                                    <button asp-controller="Post" asp-action="Index" class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </form>
                    </aside>
                    @if(Model.LastOrDefault() != null)
                    {
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" width="120" height="120" src="@Model.LastOrDefault()?.Thumbnail" alt="">
                            <h4>@Model.LastOrDefault()?.Title</h4>
                            <p>@Model.LastOrDefault()?.Author</p>
                            @* <div class="social_icon">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-github"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                            </div> *@
                            <p>
                                @Model.LastOrDefault()?.Brief
                            </p>
                            <p>
                                @Model.LastOrDefault()?.Featured
                            </p>
                            <div class="br"></div>
                        </aside>
                    }
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        @foreach (var post in Model.OrderByDescending(p => p.CreatedDateTime))
                        {
                            <div class="media post_item">
                                @*<img src=@post.Thumbnail width="50" height="50" alt="post">*@
                                <div class="media-body">
                                    <a asp-action="Details" asp-controller="Post" asp-route-id="@post.Id">
                                        <h3>@post.Title</h3>
                                    </a>
                                    <p>@post.CreatedDateTime</p>
                                </div>
                            </div>
                        }
                        <div class="br"></div>
                    </aside>
                    @* <aside class="single_sidebar_widget ads_widget">
                         <a href="#"><img class="img-fluid" src="~/template/img/blog/add.jpg" alt=""></a> 
                        <div class="br"></div>
                    </aside> *@
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Categories</h4>
                        <ul class="list cat-list">
                            @foreach (var item in Model)
                            {
                                if (item.Category != null)
                                {
                                    if ((!existedCategoryRightSide.Contains(item.Category.Id)))
                                    {
                                        <li>
                                            <a asp-controller="Post" asp-action="Index" asp-route-categoryId="@item.Category.Id" class="d-flex justify-content-between">
                                                <p>@item.Category.CategoryName</p>
                                                @*<p>37</p>*@
                                            </a>
                                        </li>
                                    }
                                    existedCategoryRightSide.Add(item.Category.Id);
                                }
                            }
                        </ul>
                        <div class="br"></div>
                    </aside>
                    @* <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subscribe</a>
                        </div>
                        <p class="text-bottom">You can unsubscribe at any time</p>
                        <div class="br"></div>
                    </aside> *@
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        @if (allTags != null)
                        {
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                @foreach (var tag in allTags)
                                {
                                    <li><a asp-controller="Post" asp-action="Index" asp-route-tagId="@tag.Id">@tag.TagName</a></li>
                                }
                            </ul>
                        }
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->