@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SWP391.OnlineShop.Core.Models.Enums
@model SWP391.OnlineShop.ServiceModel.ViewModels.Users.UserDetailViewModels
@{
    var successMess = TempData["SuccessMess"] as string;
    var errorMess = TempData["ErrorMess"] as string;
}
@if (!string.IsNullOrWhiteSpace(errorMess))
{
    <div class="alert alert-danger my-2 text-center">
        @errorMess
    </div>
}
@if (!string.IsNullOrWhiteSpace(successMess))
{
    <div class="alert alert-success my-2 text-center">
        @successMess
    </div>
}
<div class="user-container">
    <div class="user-header" style="margin: 20px 0">
        <a asp-area="Managements" asp-action="Index" asp-controller="User" class="btn btn-outline-info">Back to user containers</a>
    </div>
    <div class="user-body">
        <div class="user-content">
            <div class="user-left">
                <form asp-action="UpdateUserPermission" method="post" enctype="multipart/form-data">
                    <input asp-for="UserUpdateId" hidden="" readonly=""/>
                    <div class="user-img">
                        <img src="@Model.PermissionViewModel.AvatarLink" alt=""/>
                    </div>
                    <div class="user-upload-img">
                        <input type="file" asp-for="PermissionViewModel.Avatar">
                    </div>
                    <div class="user-gender">
                        <select class="form-control" asp-for="PermissionViewModel.Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                        </select>
                    </div>
                    <div class="user-role">
                        <div>
                            @for (var index = 0; index < @Model.PermissionViewModel.RoleViewModels.Count; index++)
                            {
                                var i = index;

                                <input type="checkbox" asp-for="@Model.PermissionViewModel.RoleViewModels[i].IsChecked" class="form-check-input"/>
                                <label class="form-check-label" asp-for="@Model.PermissionViewModel.RoleViewModels[i].IsChecked">
                                    @Model.PermissionViewModel.RoleViewModels[i].LabelName
                                </label>
                                <input type="hidden" asp-for="@Model.PermissionViewModel.RoleViewModels[i].Id"/>
                                <input type="hidden" asp-for="@Model.PermissionViewModel.RoleViewModels[i].LabelName"/>
                                <br/>
                            }
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
            </div>
            <div class="user-right">
                <div class="user-information">
                    <form asp-action="UpdateUserIdentity" method="post">
                        <div class="mb-3">
                            <label asp-for="UserIdentityViewModel.Email">Email address</label>
                            <input asp-for="UserUpdateId" hidden="" readonly=""/>
                            <input type="email" class="form-control" asp-for="UserIdentityViewModel.Email">
                        </div>
                        <div class="mb-3">
                            <label asp-for="UserIdentityViewModel.Phone" class="form-label">Phone number</label>
                            <input type="text" class="form-control" asp-for="UserIdentityViewModel.Phone">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
                <div class="user-security">
                    <form asp-action="UpdateUserSecurity">
                        <div class="mb-3">
                            <label asp-for="UserSecurityViewModel.NewPassword" class="form-label">New Password</label>
                            <input asp-for="UserUpdateId" hidden="" readonly=""/>
                            <input type="password" class="form-control" asp-for="UserSecurityViewModel.NewPassword">
                        </div>
                        <div class="mb-3">
                            <label asp-for="UserSecurityViewModel.RetypePassword" class="form-label">Retype Password</label>
                            <input type="password" class="form-control" asp-for="UserSecurityViewModel.RetypePassword">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
                <div>
                    @*<a class="btn btn-outline-secondary">User Addresses</a>*@
                </div>
            </div>
        </div>
    </div>
</div>