@using SWP391.OnlineShop.ServiceModel.ViewModels.Users
@using SWP391.OnlineShop.Common.Constraints
@model List<UserViewModel>

@{
    var successMess = TempData["SuccessMess"] as string;
    var errorMess = TempData["ErrorMess"] as string;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">User Containers</h1>
    <p class="mb-4">
    </p>
    @if (!string.IsNullOrWhiteSpace(errorMess))
    {
        <div class="alert alert-danger my-2 text-center">
            @errorMess
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(successMess))
    {
        <div class="alert alert-success my-2 text-center">
            @successMess
        </div>
    }
    <div>
        <a class="btn btn-outline-primary my-3" asp-action="Add">Add New User</a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">User DataTables</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>PhoneNumber</th>
                            <th>Gender</th>
                            <th>Default Address</th>
                            <th>Roles</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    @{
                                        var avatar = user.Avatar;
                                        if (!string.IsNullOrEmpty(user.Avatar) && user.Avatar.Contains('~'))
                                        {
                                            avatar = user.Avatar[1..];
                                        }
                                    }
                                    @if (string.IsNullOrEmpty(user.Avatar))
                                    {
                                        <img src="~/template/img/settings/admins/anonymous_user.jpg" alt="" width="50"/>
                                    }
                                    else
                                    {
                                        <img src="@avatar" alt="" width="50" />
                                    }
                                </td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.PhoneNumber</td>
                                <td>
                                    @if (user.Gender == 0)
                                    {
                                        <span>Female</span>
                                    }
                                    else
                                    {
                                        <span>Male</span>
                                    }
                                </td>
                                <td>@user.Address</td>
                                <td>@string.Join(", ", user.Role)</td>
                                <td>
                                    <a class="mx-1 btn btn-outline-info" asp-route-id="@user.Id" asp-action="Details">View</a>
                                    @if (!user.Role.Contains(RoleConstraints.Admin))
                                    {
                                        <a class="mx-1 btn btn-outline-danger btn-delete" asp-route-id="@user.Id" asp-action="Delete">Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>