@using SWP391.OnlineShop.ServiceModel.ViewModels.Emails;
@model List<EmailContactViewModel>
@{
    var successMess = TempData["SuccessMess"] as string;
    var errorMess = TempData["ErrorMess"] as string;
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Contact Containers</h1>
    <p class="mb-4">
    </p>
    @if (!string.IsNullOrWhiteSpace(errorMess))
    {
        <div class="alert alert-danger my-2 text-center">
            @errorMess
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(successMess))
    {
        <div class="alert alert-success my-2 text-center">
            @successMess
        </div>
    }
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Contact DataTables</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Category</th>
                            <th>Title</th>
                            <th>MailStatus</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contact in Model)
                        {
                            <tr>
                                <td>
                                   @contact.Subject
                                </td>
                                <td>@contact.Category</td>
                                <td>@contact.Title</td>
                                <td>@contact.MailStatus</td>
                                <td>
                                    <a class="mx-1 btn btn-outline-info" asp-route-id="@contact.Id" asp-action="Details">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>