@using SWP391.OnlineShop.Core.Models.Enums;
@model List<SWP391.OnlineShop.ServiceModel.ViewModels.Tags.TagViewModel>

@{
    var successMess = TempData["SuccessMess"] as string;
    var errorMess = TempData["ErrorMess"] as string;
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Product Containers</h1>

    @if (!string.IsNullOrWhiteSpace(errorMess))
    {
        <div class="alert alert-danger my-2 text-center">
            @errorMess
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(successMess))
    {
        <div class="alert alert-success my-2 text-center">
            @successMess
        </div>
    }

    <div>
        <a class="btn btn-outline-primary my-3" asp-area="Managements" asp-controller="Marketing" asp-action="AddTag">Add New Tag</a>
    </div>

    <div class="card shadow mb-4 mt-3">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Product DataTables</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tag Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Tag Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var tagViewModel in Model)
                            {
                                <tr>
                                    <td>@tagViewModel.Id</td>
                                    <td>@tagViewModel.TagName</td>
                                    @if (tagViewModel.Status == Status.Active)
                                    {
                                        <td class="text-success">Active</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">InActive</td>
                                    }
                                    <td>
                                        <div class="table-action">
                                            <a class="m-1 btn btn-outline-info" asp-area="Managements" asp-controller="Marketing"
                                               asp-action="ViewTag" asp-route-id="@tagViewModel.Id">View</a>
                                            <a class="m-1 btn btn-outline-success" asp-area="Managements" asp-controller="Marketing"
                                               asp-action="EditTag" asp-route-id="@tagViewModel.Id">Edit</a>
                                            <a class="m-1 btn btn-outline-danger btn-delete" asp-area="Managements" asp-controller="Marketing"
                                               asp-action="DeleteTag" asp-route-id="@tagViewModel.Id">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
