@model SWP391.OnlineShop.ServiceModel.ViewModels.Products.ProductViewModel
@{
    var genreList = ViewData["GenreList"] as SelectList;
    var statusList = ViewData["StatusList"] as SelectList;
    var productTypeList = ViewData["ProductTypeList"] as SelectList;
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product Detail</h6>
    </div>
    <div class="card-body">
        <form style="margin:auto !important; width:60% !important">
            <div class="r-error my-4 text-danger text-center" asp-validation-summary="All">
            </div>
            <div class="mb-3">
                <label hidden asp-for="Id" class="form-label">Product ID</label>
                <input hidden type="text" class="form-control" asp-for="Id">
            </div>
            <div class="mb-3">
                <label asp-for="ProductName" class="form-label">Product Name</label>
                <input disabled type="text" class="form-control" asp-for="ProductName">
                <span asp-validation-for="ProductName" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ThumbnailFile" class="form-label">Thumbnail</label><br />
                <img width="300" height="300" src="@Model.Thumbnail" alt=""><br /><br />
                <span asp-validation-for="ThumbnailFile" class="r-error d-block text-danger"></span>
            </div>
            <div hidden class="mb-3">
                <label asp-for="Thumbnail" class="form-label"></label>
                <input asp-for="Thumbnail" type="text" class="form-control" />
                <span asp-validation-for="Thumbnail" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea disabled asp-for="Description" type="text" class="form-control"></textarea>
                <span asp-validation-for="Description" class="r-error d-block text-danger"></span>
            </div>
            @* <div class="mb-3">
                <label asp-for="Amount" class="form-label"></label>
                <input disabled asp-for="Amount" type="number" min="1" class="form-control" />
                <span asp-validation-for="Amount" class="r-error d-block text-danger"></span>
            </div> *@
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input disabled asp-for="Price" type="text" class="form-control" />
                <span asp-validation-for="Price" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalePrice" class="form-label"></label>
                <input disabled asp-for="SalePrice" type="text" class="form-control" />
                <span asp-validation-for="SalePrice" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label">Category</label><br />
                <select disabled asp-for="CategoryId" class="form-control" asp-items="@genreList"></select>
            </div>
            <div class="mb-3">
                @if (Model.ProductSizes != null)
                {
                    @foreach (var item in Model.ProductSizes.OrderBy(x => x.Size.SizeType))
                    {
                        <label>Size: </label><input readonly name="size" type="text" value="@item.Size.SizeType" />
                        <input readonly type="number" name="quantity" min="0" value="@item.Quantity"/>
                        <br />
                    }
                }
            </div>
            <div class="mb-3">
                <label asp-for="Tag" class="form-label">Product Tags</label>
                <input disabled type="text" class="form-control" asp-for="Tag" id="name">
                <span asp-validation-for="Tag" class="r-error d-block text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ProductType" class="form-label">Product Type</label><br />
                <select disabled asp-for="ProductType" class="form-control" asp-items="@productTypeList"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Status" class="form-label">Status</label><br />
                <select disabled asp-for="Status" class="form-control" asp-items="@statusList"></select>
            </div>
            <br />
            <a type="button" class="btn btn-secondary" asp-action="">Back</a>
            <button asp-area="Managements" asp-controller="Marketing" asp-action="EditProduct" asp-route-id="@Model.Id" class="btn btn-primary">Edit</button>
            <button asp-area="Managements" asp-controller="Marketing" asp-action="DeleteProduct" asp-route-id="@Model.Id" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>