@model SWP391.OnlineShop.ServiceModel.ViewModels.Accounts.RegisterViewModel
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SWP391.OnlineShop.Common.Constraints
@{
    ViewData["Title"] = "Register";
    var successMess = TempData["SuccessMess"] as string;
    var externalLoginProviders = ViewData["ExternalLoginProvider"] as IEnumerable<AuthenticationScheme>;
}

<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account !</h1>
            </div>

            <form method="post" class="user" id="register">
                <div class="r-error my-4 text-danger text-center" asp-validation-summary="All">
                </div>
                @if (!string.IsNullOrWhiteSpace(successMess))
                {
                    <div class="my-4 alert alert-success text-center">
                        @successMess
                    </div>
                }
                @*Username*@
                <div class="form-group">
                    <input asp-for="Username" type="text" class="form-control form-control-user" id="r-username"
                           placeholder="Username" title="Username cannot change so please choose careful">
                    <span asp-validation-for="Username" class="r-error d-block text-danger"></span>
                </div>
                @*Email*@
                <div class="form-group">
                    <input asp-for="Email" type="email" class="form-control form-control-user" id="r-email"
                           placeholder="Email Address">
                    <span asp-validation-for="Email" class="r-error d-block text-danger"></span>
                </div>
                @*Passwords*@
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input asp-for="Password" type="password" class="form-control form-control-user" id="r-password"
                               placeholder="Password" title="Password must required length > 8, uppercase, lowercase, digit and special characters">
                        <span asp-validation-for="Password" class="r-error d-block text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="RePassword" type="password" class="form-control form-control-user" id="r-repass"
                               placeholder="Repeat Password">
                        <span asp-validation-for="RePassword" class="r-error d-block text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Register
                </button>
                <hr>
                @if (externalLoginProviders != null)
                {
                    foreach (var provider in externalLoginProviders)
                    {
                        switch (provider.Name)
                        {
                            case LoginKeyConstraints.GoogleLogin:
                                <a asp-controller="Account" asp-action="LoginExternally" asp-route-request="@provider.Name"
                                   class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with @provider.DisplayName
                                </a>
                                break;
                            case LoginKeyConstraints.FacebookLogin:
                                <a asp-controller="Account" asp-action="LoginExternally" asp-route-request="@provider.Name"
                                   class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with @provider.DisplayName
                                </a>
                                break;
                        }
                    }
                }
            </form>
            <hr>
            <div class="text-center">
                <a class="small" asp-action="ForgotPassword">Forgot Your Password?</a>
            </div>
            <div class="text-center">
                <a class="small" asp-action="Login">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        //// Register
        $("#register").submit(function (e) {
            e.preventDefault();

            const username = $("#r-username").val();
            const email = $("#r-email").val();
            const password = $("#r-password").val();
            const rePassword = $("#r-repass").val();

            const data = {
                Username: username,
                Email: email,
                Password: password,
                RePassword: rePassword
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Register", "Account")",
                data: data,
                success: function (res) {
                    $.toaster({ priority: 'success', title: 'Success', message: res });

                    $("#r-username").val("");
                    $("#r-email").val("");
                    $("#r-password").val("");
                    $("#r-repass").val("");
                },
                failure: function (failed) {
                    $.toaster({ priority: 'warning', title: 'Warning', message: failed.responseText });
                },
                error: function (error) {
                    $.toaster({ priority: 'danger', title: 'Error', message: error.responseText });
                }
            });
        });
    })
</script>     